<!doctype html>
<html itemscope itemtype="http://schema.org/{{ meta.schema_type }}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- General meta data -->
    <title>{{ meta.title }}</title>
    <meta name="description" content="{{ meta.desc }}">
    <link rel="image_src" href="{{ meta.image }}" />
    <link rel="canonical" href="{{ meta.url }}" />

    <!-- Google Meta data -->
    <meta itemprop="name" content="{{ meta.title }}">
    <meta itemprop="description" content="{{ meta.desc }}">
    <meta itemprop="image" content="{{ meta.image }}">
    <meta itemprop="url" content="{{ meta.url }}">

    <!-- Facebook Meta Data -->
    <meta property="fb:app_id" content="{{ env.fb.app_id }}" />
    <meta property="og:title" content="{{ meta.title }}" />
    <meta property="og:type" content="{{ meta.og_type }}" />
    <meta property="og:url" content="{{ meta.url }}" />
    <meta property="og:image" content="{{ meta.image }}" />
    <meta property="og:site_name" content="{{ meta.title }}" />
    <meta property="og:description" content="{{ meta.desc }}" />
    <meta property="og:i_id" content="{{app.aa.info.i_id}}" />

    {{# og_meta }}
        <meta property="{{ key }}" content="{{ value }}" />
    {{/ og_meta }}

    <!-- Twitter Meta Data -->
    <meta property="twitter:card" content="photo" />
    <meta property="twitter:title" content="{{ meta.title }}" />
    <meta property="twitter:description" content="{{ meta.desc }}" />
    <meta property="twitter:image" content="{{ meta.image }}" />
    <meta property="twitter:url" content="{{ meta.url }}" />

    <!-- Applinks.org Meta-Data -->
    <meta property="al:web:url" content="{{ meta.url }}" />

    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .glyphicon {
            font-size: 10px;
        }
    </style>

</head>
<body>

<!-- Prepare data in js -->
<script>
    var data = {
        'app':      {
            'i_id':      '{{ app.aa.info.i_id }}',
            'lang':      '{{ env.optimal.lang }}',
            'm_id':      '{{ app.aa.info.m_id }}',
            'smartLink': '{{{ smartLinkUrl }}}'
        },
        'request':       {
            {{# request }}
                '{{ key }}': '{{ value }}',
            {{/ request }}
        },
        'server':       {
            {{# server.HTTP_REFERER }}
                'HTTP_REFERER': '{{{ . }}}'
            {{/ server.HTTP_REFERER }}
        },
        'target':   {
            'env':     '{{ env.optimal.env }}',
            'url':     '{{{ env.optimal.url }}}'
        },
        'referrer': {
            'env':      '{{ referrer.app.env }}',
            'lang':     '{{ referrer.app.lang }}',
            'auth_uid': '{{ referrer.info.auth_uid }}'
        },
        'visitor':  {
            'device':  {
                'os':   '{{ visitor.device.os }}',
                'type': '{{ visitor.device.type }}'
            },
            'browser': {
                'name':    '{{ visitor.browser.name }}',
                'version': '{{ visitor.browser.version }}',
                'ua':      '{{ visitor.browser.ua }}'
            }
        }
    }
</script>
<!-- Save data in localstorage -->
<script>
    var key = "aa_app_template_" + "{{app.aa.info.i_id}}" + "_referral";
    localStorage.setItem(key, JSON.stringify(data));
</script>

<!-- Add js logging with loggly -->
<!--<script type="text/javascript" src="lib/AA/SmartLink/js/loggly.tracker.js" async></script>
<script>
    var _LTracker = _LTracker || [];
    _LTracker.push({'logglyKey': '2cf0d106-5435-4ede-8f88-5b6faa7be5cf' });
    _LTracker.push(data);
</script>
-->

<!-- Redirect user immediately if debug mode deactivted -->
<script>
        {{^ debug }}
        // Automatic redirect, when debug mode deactivated
        window.location = '{{{ env.optimal.url }}}';
        {{/ debug }}
</script>

<!-- Show debug information -->
{{#debug}}

{{/debug}}

</body>
</html>
