<!doctype html>
<html itemscope itemtype="http://schema.org/{{ meta.schema_type }}">
<head>

    {{> meta }}

    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .glyphicon {
            font-size: 10px;
        }
    </style>

</head>
<body>

<!-- Prepare data in js -->
<script>
    var data = {
        'browser': {
            'name':    '{{ browser.name }}',
            'version': '{{ browser.version }}',
            'ua':      '{{ browser.ua }}'
        },
        'debug':   '{{ debug }}',
        'device':  {
            'os':   '{{ device.os }}',
            'type': '{{ device.type }}'
        },
        'appId':    '{{ appId }}',
        'lang':    '{{ lang }}',
        'target':  '{{ target }}',
        'url':     '{{ url }}'
    }
</script>
<!-- Save data in localstorage -->
<script>
    var key = "aa_" + "{{appId}}" + "_smartLink";
    localStorage.setItem(key, JSON.stringify(data));
</script>

<!-- Redirect user immediately if debug mode deactivted -->
<script>
        {{^ debug }}
        // Automatic redirect, when debug mode deactivated
        window.location = '{{{ url_target }}}';
        {{/ debug }}
</script>

<!-- Show debug information -->
{{#debug}}
    {{> shareDebug}}
{{/debug}}

</body>
</html>
