<div class="container">
<div class="row">
<div class="col-md-12">
<h1>Debug information</h1>

<div class="row">
    <div class="col-md-12">
        <h2>Smart-Link:</h2>

        <table class="table table-striped">
            <tbody>
            <tr>
                <td>
                    Smart-Link for Sharing
                </td>
                <td>
                    <a href="{{ url }}" target="_blank">{{ url }}</a>
                </td>
            </tr>
            <tr>
                <td>
                    Redirect Link: (You will be redirected here...)
                </td>
                <td>
                    <a href="{{ url_target }}" target="_blank">{{ url_target }}</a>
                </td>
            </tr>
            <tr>
                <td>
                    Target Environment
                </td>
                <td>
                    {{ target }}
                </td>
            </tr>
            <tr>
                <td>
                    Language
                </td>
                <td>
                    {{ lang }}
                </td>
            </tr>
            <tr>
                <td>
                    Device
                </td>
                <td>
                    {{ device.type }} / {{ device.os }}
                </td>
            </tr>
            <tr>
                <td>
                    Browser
                </td>
                <td>
                    {{ browser.name }} / {{ browser.version }}
                </td>
            </tr>
            </tbody>
        </table>


        <h3>Reasons</h3>

        <ol>
            {{# reasons }}
                <li>
                    {{ . }}
                </li>
            {{/ reasons }}
        </ol>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h2>Cookies</h2>

        <table class="table table-striped">
            <thead>
            <tr>
                <th width="30%">Key</th>
                <th>Value</th>
            </tr>
            </thead>
            <tbody>
            {{# cookies }}
                <tr>
                    <td>
                        {{ key }}
                    </td>
                    <td>{{ value }}</td>
                </tr>
            {{/ cookies }}
            </tbody>
        </table>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Params</h2>

        <table class="table table-striped">
            <thead>
            <tr>
                <th width="30%">Key</th>
                <th>Value</th>
            </tr>
            </thead>
            <tbody>
            {{# params }}
                <tr>
                    <td>
                        {{ key }}
                    </td>
                    <td>{{ value }}</td>
                </tr>
            {{/ params }}
            </tbody>
        </table>
    </div>
    <div class="col-md-6">

        <h2>Expired Params</h2>

        <table class="table table-striped">
            <thead>
            <tr>
                <th width="30%">Key</th>
                <th>Value</th>
            </tr>
            </thead>
            <tbody>
            {{# params_expired }}
                <tr>
                    <td>
                        {{ key }}
                    </td>
                    <td>{{ value }}</td>
                </tr>
            {{/ params_expired }}
            </tbody>
        </table>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h2>Meta data</h2>

        <table class="table table-striped">
            <thead>
            <tr>
                <th width="30%">Key</th>
                <th>Value</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <span class="label label-success"><span class="glyphicon glyphicon-ok"></span></span>
                    Title
                </td>
                <td>{{meta.title}}</td>
            </tr>
            <tr>
                <td>
                    <span class="label label-success"><span class="glyphicon glyphicon-ok"></span></span>
                    Description
                </td>
                <td>{{meta.desc}}</td>
            </tr>
            <tr>
                <td>
                    <span class="label label-success"><span class="glyphicon glyphicon-ok"></span></span>
                    Image
                </td>
                <td><img class="thumbnail" src="{{meta.image}}" style="max-width: 200px;" /></td>
            </tr>
            <tr>
                <td>
                    <span class="label label-success"><span class="glyphicon glyphicon-ok"></span></span>
                    Open Graph Type
                </td>
                <td>{{meta.og_type}}</td>
            </tr>
            <tr>
                <td>
                    <span class="label label-success"><span class="glyphicon glyphicon-ok"></span></span>
                    Schema.org Type
                </td>
                <td>{{meta.schema_type}}</td>
            </tr>
            </tbody>
        </table>

        <textarea style="width: 100%;" rows="50" disabled="disabled" class="prettyprint lang-html">{{> meta }}</textarea>

    </div>
</div>


</div>
</div>
</div>
